<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Sports Stats", "#", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_item name: "NFL", href: "/sports/nfl", fa_icon: "fas fa-football" %>
        <%= nav_dropdown name: "MLB", fa_icon: "fas fa-baseball" do %>
          <%= dropdown_item name: "Home", href: "/sports/mlb", fa_icon: "fas fa-home" %>
          <%= dropdown_item name: "Teams", href: "/sports/mlb/teams", fa_icon: "fa-solid fa-people-group" %>
          <%= dropdown_item name: "Schedule", href: "/sports/mlb/schedule", fa_icon: "fa-solid fa-calendar-days" %>
          <%= dropdown_item name: "Draft", href: "/sports/mlb/draft/2022", fa_icon: "fa-solid fa-user-plus" %>
          <%= dropdown_item name: "2022 Home Run Derby", href: "/sports/mlb/derby/713519", fa_icon: "fa-solid fa-fire" %>
        <% end %>
      </ul>

      <%= render "/layouts/navs/chew" %>
    </div>
  </div>
</nav>