<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <%= link_to "Utilities", "#", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <%= navbar_item name: "HTML to Text", href: "/util/html", fa_icon: "fas fa-code" %>
        <%= navbar_item name: "Random String", href: "/util/random", fa_icon: "fas fa-random" %>
        <%= navbar_item name: "Wordle Solver", href: "/util/wordle", fa_icon: "fas fa-plus-circle" %>
        <%= navbar_item name: "Base Converter", href: "/util/bases", fa_icon: "fas fa-cubes" %>
      </ul>

      <%= render "/layouts/navs/chew" %>
    </div>
  </div>
</nav>