<div class="card <%= "animated-box in green-blue" if !game['flags'].nil? and game['flags']['perfectGame'] %> <%= "animated-box in yellow-red" if !game['flags'].nil? and game['flags']['noHitter'] and not game['flags']['perfectGame'] %>">
  <div class="card-body">
    <span class="d-inline">
      <h2 class="card-title"><%= game['teams']['away']['team']['clubName'] %>
        @ <%= game['teams']['home']['team']['clubName'] %></h2>
      <% if !game['flags'].nil? and game['flags']['perfectGame'] %>
        <p class="text-success bold float-end">Perfect Game (<%= game['flags']['homeTeamPerfectGame'] ? game['teams']['home']['team']['clubName'] : game['teams']['away']['team']['clubName'] %>)!</p>
      <% elsif !game['flags'].nil? and game['flags']['noHitter'] %>
        <p class="text-danger bold float-end">No Hitter (<%= game['flags']['homeTeamNoHitter'] ? game['teams']['home']['team']['clubName'] : game['teams']['away']['team']['clubName'] %>)!</p>
      <% end %>
    </span>
    <% if %w[Postponed Scheduled Pre-Game].include? game['status']['detailedState'] %>
      <p>Game State: <%= game_status game %></p>
    <% else %>
      <p><%= link_to "Game State: #{game_status game}", "/sports/mlb/game/#{game['gamePk']}" %></p>
    <% end %>
    <% if %w[Top Bottom Final End Middle].include?(game_status(game).split(' ').first || "Unknown") || ((game['linescore'] || { "currentInning": 0 })['currentInning'] || 0) > 1 %>
      <%= render partial: 'scorecard', locals: { game: game['linescore'], home: game['teams']['home']['team'], away: game['teams']['away']['team'], state: game_status(game) } %>
    <% end %>
  </div>
</div>
