<h1><%= @name %></h1>
<p><%= @description %></p>
<hr />
<h3>Stats</h3>
<p>
  Rank: #<%= @rank %><br />
  Online: <%= @players.count { |e| e['isOnline'] >= 1 } %> / <%= @players.count %> <%= @players.count { |e| e['isOnline'] == 2 } > 0 ? "(#{@players.count { |e| e['isOnline'] == 2 }} idle)" : "" %><br />
  Total Season: <%= number_with_delimiter @total.round(0) %><br />
  Total Lifetime: <%= number_with_delimiter @players.map{|e| e['lifetimeCollected']}.sum.round(0) %><br />
  Total Showcase: <%= @players.map{|e| e['showcaseLevel']}.sum %> / <%= @players.count * 160 %><br />
  Total Cookie Power: <%= number_with_delimiter @players.map { |e| e['bakeryLevel'] }.sum %>
</p>
<hr />
<p>Disclaimers: Users named <i>A teammate</i> do not have a bakery name set!<br />Collectors who have 0 lifetime cookies on the leaderboard but a lot in chat are cheaters and should be kicked immediately!!<br />Ranks here may not match in-game rank! They are sorted by Current Season Cookies then Lifetime Cookies (e.g. 0 current 5 lifetime is ranked higher than 0 current 2 lifetime).</p>

<p><a href="/cookiesinc/team/<%= params['id'] %>/neighboring"><button class="btn btn-primary">View Neighboring Teams</button></a></p>
<hr />
<div class="row">
  <div class="col">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover <%= 'table-dark' if session[:dark_mode] %>" data-toggle="table" data-pagination="true" data-search="true" data-show-columns-toggle-all="true" data-show-columns="true">
        <thead class="table-dark">
          <tr>
            <th data-sortable="true" data-field="rank" data-switchable="false" data-sort-order="asc">Rank</th>
            <th data-sortable="true" data-field="username" data-switchable="false" data-sort-order="asc">Bakery Name</th>
            <th data-sortable="true" data-field="registered" data-sort-name="joinint" data-visible="false" data-sort-order="desc">Bakery Created</th>
            <th data-sortable="true" data-field="publicid" data-visible="false" data-sort-order="desc">Public ID</th>
            <th data-sortable="true" data-field="seasoncollected" data-sort-name="seasoncollectedraw" data-sort-order="desc">Current Season Cookies</th>
            <th data-sortable="true" data-field="lifetimecollected" data-sort-name="lifetimecollectedraw" data-sort-order="desc">Lifetime Cookies</th>
            <th data-sortable="true" data-field="showcase" data-sort-order="desc">Showcase Items</th>
            <th data-sortable="true" data-field="bakerylevel" data-sort-name="bakerylevelraw" data-sort-order="desc">Cookie Power</th>
            <th data-sortable="true" data-field="seasoncollectedraw" data-switchable="false" data-visible="false" data-sort-order="desc">Current Season Cookies Raw</th>
            <th data-sortable="true" data-field="lifetimecollectedraw" data-switchable="false" data-visible="false" data-sort-order="desc">Current Season Cookies Raw</th>
            <th data-sortable="true" data-field="bakerylevelraw" data-switchable="false" data-visible="false" data-sort-order="desc">Cookie Power Raw</th>
            <th data-sortable="true" data-field="joinint" data-switchable="false" data-visible="false" data-sort-order="desc">Creation Time int</th>
          </tr>
        </thead>
        <tbody>
          <% @players.each_with_index do |data, i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= (data['playerName'] == "") ? (raw "<i>A teammate</i>") : data['playerName'] %></td>
              <td><%= (data['collectorSince'] == "") ? "Unknown!" : data['collectorSince'] %></td>
              <td><%= data['publicId'] %></td>
              <td><%= number_with_delimiter data['seasonCollected'].round(0) %></td>
              <td><span style="font-size: 0px;"><%= data['lifetimeCollected'].round(0).to_f %></span><%= number_with_delimiter data['lifetimeCollected'].round(0) %></td>
              <td><%= data['showcaseLevel'] %></td>
              <td><%= number_with_delimiter data['bakeryLevel'] %></td>
              <td><%= data['seasonCollected'] %></td>
              <td><%= data['lifetimeCollected'] %></td>
              <td><%= data['bakeryLevel'] %></td>
              <td><%= (data['collectorSince'] == "" || data['collectorSince'] == "Unknown") ? "Unknown!" : Time.parse(data['collectorSince']).to_i %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
