<% content_for :meta_tags do %>
  <%= meta_tags title: "MLB Stats",
                description: "Major league stats for major league baseball!",
                service: "Chew's MLB Stats",
                keywords: "sports mlb baseball" %>
<% end %>

<h1>Chew's MLB Stats</h1>

<p>
  With this site, you can view information in unique ways. On a team page, you can see a team's 500 chart.
  Viewing a game shows a lot of information about the game, even some stuff Gameday doesn't show!
</p>

<p>NEW! <%= link_to "View the MLB Draft for 2022", "/sports/mlb/draft/2022" %></p>

<h2>Table of Contents</h2>
<ul>
  <li><%= link_to "Today's Schedule", "#schedule" %></li>
  <li><%= header_link "Today's Homers" %></li>
  <li><%= link_to "Team Standings", "#standings" %></li>
</ul>

<h2 id="birthdays">Today's Birthdays</h2>
<p>Only players who have played at least one regular season game in <%= params[:season] || Time.now.year %>.</p>
<ul>
  <% @birthdays.each do |birthday| %>
    <li><%= birthday %></li>
  <% end %>
</ul>

<h2 id="schedule">Today's Schedule</h2>
<p>Games today: <%= @schedule['totalGames'] %> (<%= @schedule['totalGamesInProgress'] %> in-progress)</p>
<p><%= link_to "Schedule Time-Machine", "/sports/mlb/schedule" %></p>

<% unless @schedule['dates'].empty? %>
<div class="row">
  <% @schedule['dates'][0]['games'].each do |game| %>
    <div class="col-md-6">
      <%= render partial: 'game', locals: { game: game } %>
    </div>
  <% end %>
</div>
<% end %>

<hr>

<h2 id="today-s-homers">Today's Homers</h2>
<% if @schedule['dates'].empty? %>
  <p>There are no games scheduled for today.</p>
<% else %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover" data-toggle="table">
    <thead class="table-dark">
    <tr>
      <th data-sortable="true">Player</th>
      <th data-sortable="true">Team</th>
      <th data-sortable="true" data-sort-order="desc">Homer #</th>
      <th data-sortable="true" data-sort-order="desc">RBI</th>
      <th>Info</th>
    </tr>
    </thead>
    <tbody>
    <% @schedule['dates'][0]['games'].each do |game| %>
      <% next unless game['homeRuns'] %>
      <% game['homeRuns'].each do |homer| %>
    <% begin %>
        <tr <% if homer['result']['rbi'] == 4 %> class="table-warning" <% end %>>
          <td><%= homer['matchup']['batter']['fullName'] %></td>
          <td><%= game['teams'][homer['about']['halfInning'] == "top" ? "away" : "home"]['team']['teamName'] %></td>
          <% info = homer_info homer %>
          <td><%= info[0] %></td>
          <td><%= homer['result']['rbi'] %></td>
          <td><%= info[1] %></td>
        </tr>
    <% rescue StandardError => e %>
        <tr><td colspan="5">Could not load row! Error: <%= e %></td></tr>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<% end %>

<hr>

<h2 id="standings">Team Standings</h2>

<p><%= link_to "View All Teams", "/sports/mlb/teams" %></p>

<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" data-toggle="table" data-search="true" data-show-columns-toggle-all="true" data-show-columns="true">
  <thead class="table-dark">
  <tr>
    <th data-sortable="true" data-field="team" data-switchable="false" data-sort-order="asc">Team</th>
    <th data-sortable="true" data-field="wins" data-switchable="false" data-sort-order="desc">Wins</th>
    <th data-sortable="true" data-field="loss" data-switchable="false" data-sort-order="desc">Losses</th>
    <th data-sortable="true" data-field="ratio" data-switchable="false" data-sort-order="desc">Ratio</th>
    <th data-sortable="true" data-field="streak" data-sort-name="streak_raw" data-sort-order="desc">Streak</th>
    <th data-sortable="true" data-field="games_back" data-switchable="true" data-sort-order="desc">Games Back<br></th>
    <th data-sortable="true" data-field="post_season" data-switchable="true">Post-Season?</th>
    <th data-sortable="true" data-field="streak_raw" data-switchable="false" data-visible="false" data-sort-order="desc">Streak (Decimal)</th>
  </tr>
  </thead>
  <tbody>
  <% @info.each do |division| %>
  <tr>
    <td colspan="7" class="text-center bold"><%= division['division']['name'] %></td>
  </tr>
    <% division['teamRecords'].each do |team| %>
    <tr>
      <td><%= image_tag "https://www.mlbstatic.com/team-logos/#{team['team']['id']}.svg", size: 25 %> <%= link_to team['team']['name'], "/sports/mlb/team/#{team['team']['id']}" %></td>
      <td><%= team['wins'] %></td>
      <td><%= team['losses'] %></td>
      <td><%= team['winningPercentage'] %></td>
      <td><%= team['streak']['streakCode'] %></td>
      <td><%= team['gamesBack'] %></td>
      <% if team['clinched'] %>
        <td><span class="ball">Clinched</span></td>
      <% elsif team['wildCardEliminationNumber'] == 'E' %>
        <td><span class="strike">Eliminated</span></td>
      <% else %>
        <td>
          <span class="pickoff">
            <% if team['wildCardRank'].nil? %>
              In Contention
            <% elsif team['wildCardRank'].to_i < 4 %>
              Wild Card #<span class="ball"><%= team['wildCardRank'].to_i %></span>
            <% else %>
              WC #<span class="strike"><%= team['wildCardRank'].to_i %></span>,
              <%= team['wildCardGamesBack'] %> games back
            <% end %>
          </span>
        </td>
      <% end %>
      <td><%= team['streak']['streakNumber'] * (team['streak']['streakType'] == 'losses' ? -1 : 1) %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>