<% content_for :meta_tags do %>
  <%= meta_tags title: "#{@team['name']} - MLB Team Stats",
                description:
                  "View stats for the #{@team_info['sport'].nil? ? "MLB" : @team_info['sport']['name']} team #{@team['name']}. They have won #{@team['wins']} and lost #{@team['losses']} games in the #{params[:season] || Time.now.year} season, and are #{@team['to500'].abs} #{@team['to500'] > 0 ? 'above' : 'below'} 500.",
                service: "Chew's MLB Stats",
                keywords: "sports mlb baseball #{@team['name']}" %>
<% end %>

<% content_for :body_class do %>
  t<%= params[:team_id] %>
<% end %>

<h1>Info for Team <%= @team['name'] %></h1>

<p><%= link_to "View Affiliates", "/sports/mlb/team/#{params[:team_id]}/affiliates", class: "btn btn-primary" %></p>

<h2>Table of Contents</h2>

<ul>
  <li><%= header_link "Team Info" %></li>
  <li><%= header_link "Above/Below 500" %></li>
  <li><%= header_link "Standings" %></li>
  <li>
    <%= header_link "Schedule" %>
    <ul>
      <% @scores['dates'].map {|date| date['games'].map {|game| game['seriesDescription']}}.flatten.uniq.each do |series| %>
        <% next if series == "All-Star Game" %>
        <li><%= header_link series %></li>
      <% end %>
    </ul>
  </li>
</ul>

<h2 id="team-info">Team Info</h2>

<div class="row">
  <% %w[Division League Sport].each do |info| %>
    <% next if @team_info[info.downcase].nil? %>
    <div class="col">
      <h3><%= info %></h3>
      <p><%= @team_info[info.downcase]['name'] %></p>
    </div>
  <% end %>

  <% if @team_info['venue'] %>
  <div class="col">
    <h3>Venue</h3>
    <p><%= @team_info['venue']['name'] %>, <%= @team_info['locationName'] %></p>
  </div>
  <% end %>

  <div class="col">
    <h3>First Year Of Play</h3>
    <p><%= @team_info['firstYearOfPlay'] %></p>
  </div>
</div>

<h2 id=<%= "Above/Below 500".parameterize %>>Above/Below 500</h2>
<p>See how far a team is above or below 500.</p>

<% if @total_games > 0 %>
<span id="win_sum" class="visually-hidden"><%= @win_sum.join(' ') %></span>
<span id="above_500" class="visually-hidden"><%= @above500.join(' ') %></span>

<canvas id="myChart" width="800" height="400"></canvas>

<% else %>
  <p>There are currently no games, so no chart will be rendered.</p>
<% end %>

<hr>

<% if @team_info['record'] %>
  <h2 id="standings">Standings</h2>
  <p>All standings apply to regular season games.</p>

  <div class="row">
    <div class="col">
      <h3>Ranking</h3>
      <p>Ranking across division, league, wild card, where applicable.</p>

      <ul>
        <% %w[Division League].each do |info| %>
          <% next if @team_info[info.downcase].nil? %>
          <li><%= @team_info['record']["#{info.downcase}Rank"].to_i.ordinalize %> <%= @team_info[info.downcase]['name'] %></li>
        <% end %>
        <% if @team_info['record']['wildCardRank'] %>
          <li><%= @team_info['record']['wildCardRank'].to_i.ordinalize %> in Wild Card</li>
        <% end %>
      </ul>
    </div>

    <div class="col">
      <h3>Run Record</h3>
      <p>Record of win/losses by x-runs.</p>

      <table class="table table-sm">
        <thead class="table-dark">
        <tr>
          <th>Runs</th>
          <th>Record</th>
        </tr>
        </thead>
        <tbody>
        <% @run_game_records.sort_by { |e, _|  e }.each do |amount, record| %>
          <tr>
            <td><%= amount %> run<% if amount != 1 %>s<% end %></td>
            <td><%= record.join(' - ') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <h3>Team Record</h3>
      <p>Record against specific teams.</p>

      <table class="table table-sm">
        <thead class="table-dark">
        <tr>
          <th>Team</th>
          <th>Record</th>
        </tr>
        </thead>
        <tbody>
        <% @team_game_records.sort_by { |_, f|  f.sum * f[0] }.reverse.each do |amount, record| %>
          <tr>
            <td><%= amount %></td>
            <td><%= record.join(' - ') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <div class="col">
      <h3>Split Records</h3>
      <p>Honestly not sure what some of these mean.</p>

      <table class="table table-sm">
        <thead class="table-dark">
        <tr>
          <th>Type</th>
          <th>Record</th>
        </tr>
        </thead>
        <tbody>
        <% @team_info['record']['records']['splitRecords'].each do |record| %>
          <tr>
            <td><%= record['type'] %></td>
            <td><%= record['wins'] %> - <%= record['losses'] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <hr>
<% end %>

<h2 id="schedule">Schedule for <%= params[:season] || Time.now.year %></h2>

<!--Year Switcher-->
<label for="season">Select a Season</label>
<div class="row">
  <div class="col-sm-8 col-md-4 col-xl-2">
    <form action="/sports/mlb/team/<%= params[:team_id] %>" method="get" class="input-group">
      <select name="season" id="season" class="form-control">
        <% (@team_info['firstYearOfPlay'].to_i .. Time.now.year).reverse_each do |season| %>
          <option value="<%= season %>"<%= season.to_i == (params[:season].to_i || Time.now.year) ? ' selected' : '' %>><%= season %></option>
        <% end %>
      </select>
      <input type="submit" value="Go" class="btn btn-primary">
    </form>
  </div>
</div>

<br>

<% @scores['dates'].map {|date| date['games'].map {|game| game['seriesDescription']}}.flatten.uniq.each do |series| %>
  <% next if series == "All-Star Game" %>
  <hr>
  <h3 id="<%= series.parameterize %>"><%= series %></h3>
<div class="table-responsive">
<table class="table" id="<%= series.parameterize %>-table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Away Team</th>
    <th>Home Team</th>
    <th>Score</th>
    <th>State</th>
    <th>Result</th>
    <th>Streak</th>
  </tr>
  </thead>
  <tbody>
  <% last = ["x", -1] %>
  <% @scores['dates'].each do |date| %>
    <% date['games'].each do |game| %>
      <% next unless game['seriesDescription'] == series %>
      <% next if game['teams']['away']['team']['name'].nil? %>
      <% state = mlb_game_state params[:team_id].to_i, game %>
      <tr class="<% if state == "Win" %> table-success <% elsif state == "Loss" %> table-danger <% else %> table-secondary <% end %> ">
        <% if %w[Postponed Scheduled Pre-Game].include? game['status']['detailedState'] %>
          <td><%= date['date'] %></td>
        <% else %>
          <td><%= link_to date['date'], "/sports/mlb/game/#{game['gamePk']}" %></td>
        <% end %>
        <td><%= link_to game['teams']['away']['team']['name'], "/sports/mlb/team/#{game['teams']['away']['team']['id']}", class: ("bold" if game['teams']['away']['team']['id'] == params['team_id'].to_i) %></td>
        <td class="<%= "bold" if game['teams']['home']['team']['id'] == params['team_id'].to_i %>"><%= link_to game['teams']['home']['team']['name'], "/sports/mlb/team/#{game['teams']['home']['team']['id']}" %></td>
        <td><%= game['teams']['away']['score'] %> - <%= game['teams']['home']['score'] %></td>
        <td><%= state %></td>
        <td>
          <%= game['status']['detailedState'] %><% if game['status']['reason'] %>:
            <%= game['status']['reason'] %><% end %><% if game['status']['detailedState'] == "Scheduled" %>:
            <%= Time.parse(game['gameDate']).in_time_zone("America/New_York").strftime("%_I:%M %Z") %>
          <% end %>
        </td>
        <td>
          <% if %w[Win Loss Tie].include?(state) %>
            <% if last[0] == state[0] %>
              <% last[1] += 1 %>
            <% else %>
              <% last = [state[0], 1] %>
            <% end %>
            <%= last.join('') %>
          <% else %>
          -
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
</div>
<% end %>

<% content_for :extra_foot do %>
  <%= javascript_pack_tag "sports/team_win_chart" %>
<% end %>