<% content_for :meta_tags do %>
  <%= meta_tags title: "#{@away['teamName']} @ #{@home['teamName']} on #{friendly_date(@game['gameData']['datetime']['officialDate'])} - MLB Game Breakdown",
                description:
                  "#{@summary} View the breakdown of the #{@away['teamName']} @ #{@home['teamName']} game on #{@game['gameData']['datetime']['officialDate']}. View each play, pitch breakdown, umpire blunders, and more.",
                service: "Chew's MLB Stats",
                keywords: "sports mlb baseball #{@away['name']} #{@home['name']} #{@game['gameData']['datetime']['officialDate']}" %>
<% end %>

<h1>Game Information</h1>

<h2><%= link_to @away['name'], "/sports/mlb/team/#{@away['id']}", id: "away-team" %>
  @ <%= link_to @home['name'], "/sports/mlb/team/#{@home['id']}", id: "home-team" %>
  on <%= link_to friendly_date(@game['gameData']['datetime']['officialDate']), "/sports/mlb/schedule?date=#{@game['gameData']['datetime']['officialDate']}&sport=#{@game['gameData']['teams']['home']['sport']['id']}" %>
</h2>

<p><%= link_to "View on MLB Gameday", "https://mlb.com/gameday/#{params[:game_id]}", target: "_blank" %></p>

<p>Game Status: <%= game_status @game %></p>

<p>Score: <%= @game['liveData']['linescore']['teams']['away']['runs'] || 0 %>
  - <%= @game['liveData']['linescore']['teams']['home']['runs'] || 0 %></p>

<p>Summary: <%= @summary %></p>

<% if @game['liveData']['decisions'] %>
  <span>Decisions</span>
  <ul>
    <% @game['liveData']['decisions'].each do |decision, player| %>
      <li><%= decision.capitalize %>: <%= player['fullName'] %> <%= @players[player['id']]['stats']['stats']['pitching']['note'] %></li>
    <% end %>
  </ul>
<% end %>

<h2>Box Score Game Info</h2>

<ul>
  <% @game['liveData']['boxscore']['info'].each do |info| %>
    <% next if info['value'].nil? %>
    <% case info['label'] %>
    <% when "T" %>
      <li><b>Duration</b>: <%= info['value'] %></li>
    <% when "Venue" %>
      <% venue = @game['gameData']['venue'] %>
      <li><b>Venue</b>: <%= venue['name'] %> (<%= venue['location']['city'] %>, <%= venue['location']['state'] || venue['location']['country'] %>)</li>
    <% else %>
      <li><b><%= info['label'].capitalize %></b>: <%= info['value'] %></li>
    <% end %>
<% end %>
</ul>

<h2>Table of Contents</h2>

<ul>
  <li><%= header_link "Notable Events" %> - Notable events such as no-hitters, immaculate innings, batting the cycle, etc.</li>
  <li><%= header_link "Scorecard" %> - The scorecard of the game. Can switch to see hits/errors/left on base per inning!</li>
  <li><%= header_link "Plays Table of Contents" %> - Shows a summary of every batter.</li>
  <li><%= header_link "Plays" %> - A breakdown of every plate appearance.</li>
  <li><%= header_link "Pitch Breakdown" %> - A breakdown of pitches, such as total balls, etc.</li>
  <li><%= header_link "Umpire Blunders" %> - Find all the missed balls/strikes! (BETA)</li>
  <li><%= header_link "Player Breakdown" %> - Find a breakdown of players' batting results.</li>
</ul>

<h2 id="notable-events">Notable Events</h2>

<% if @notable.empty? %>
  <p>No notable events found.</p>
<% else %>
  <ul>
    <% @notable.each do |notable| %>
      <li><%= notable %></li>
    <% end %>
  </ul>
<% end %>

<h2 id="scorecard">Scorecard</h2>

<label>
  Showing:
  <select id="scorecard-type">
    <option value="0">Runs</option>
    <option value="1">Hits</option>
    <option value="2">Errors</option>
    <option value="3">Left On Base</option>
  </select>
</label>
<%= render partial: 'scorecard', locals: { game: @game['liveData']['linescore'], home: @home, away: @away, state: game_status(@game) } %>

<!--<h3>Game Progress Graph</h3>-->

<span id="home-info" class="visually-hidden"><%= @inning_info['home'].join('/') %></span>
<span id="away-info" class="visually-hidden"><%= @inning_info['away'].join('/') %></span>

<!--<canvas id="progress-graph" width="800" height="400"></canvas>-->

<h2 id="<%= "Plays Table of Contents".parameterize %>">Plays Table of Contents</h2>

<% if @game['liveData']['plays']['allPlays'].empty? %>
  <p>There are no recorded plays for this game.</p>
<% else %>
<ol>
  <% (@game['liveData']['linescore']['currentInning'] || 0).times do |i| %>
    <li><%= (i + 1).ordinalize %> Inning</li>
    <ul>
      <li>Top</li>
      <ul>
        <% plays = @game['liveData']['plays']['playsByInning'][i]['top'] %>
        <% @game['liveData']['plays']['allPlays'][plays.min..plays.max].each_with_index do |play, ind| %>
          <% play['playEvents'].each do |event| %>
            <% next if event['details']['eventType'].nil? %>
            <li><i><%= event['details']['description'] %> <%= (event['details']['description'].include?("Delay") and !event['startTime'].nil? and !event['endTime'].nil?) ? "(#{(distance_of_time_in_words(Time.parse(event['startTime']), Time.parse(event['endTime']), include_seconds: true))})" : "" %></i></li>
          <% end %>
          <li><%= link_to play['result']['description'] || "#{play['matchup']['batter']['fullName']} is at bat.", "#play-#{plays[ind]}", class: (play['about']['isScoringPlay'] ? "bold" : "") %></li>
        <% end %>
      </ul>
      <% if @game['liveData']['linescore']['currentInning'] > (i + 1) or (@game['liveData']['linescore']['currentInning'] == i + 1 and @game['liveData']['linescore']['inningHalf'] == "Bottom") %>
        <li>Bottom</li>
        <ul>
          <% plays = @game['liveData']['plays']['playsByInning'][i]['bottom'] %>
          <% @game['liveData']['plays']['allPlays'][plays.min..plays.max].each_with_index do |play, ind| %>
            <% play['playEvents'].each do |event| %>
              <% next if event['details']['eventType'].nil? %>
              <li><i><%= event['details']['description'] %> <%= (event['details']['description'].include?("Delay") and !event['startTime'].nil? and !event['endTime'].nil?) ? "(#{(distance_of_time_in_words(Time.parse(event['startTime']), Time.parse(event['endTime']), include_seconds: true))})" : "" %></i></li>
            <% end %>
            <li><%= link_to play['result']['description'] || "#{play['matchup']['batter']['fullName']} is at bat.", "#play-#{plays[ind]}", class: (play['about']['isScoringPlay'] ? "bold" : "") %></li>
          <% end %>
        </ul>
      <% end %>
    </ul>
  <% end %>
</ol>

<h2 id="plays">Plays</h2>

<% (@game['liveData']['linescore']['currentInning'] || 0).times do |i| %>
  <h3><%= (i + 1).ordinalize %> Inning</h3>

  <hr>

  <h4>Top</h4>

  <%
    plays_inning = @game['liveData']['plays']['playsByInning'][i]
    first_bottom = plays_inning['bottom'][0]
    start_index = plays_inning['startIndex']
    end_index = plays_inning['endIndex']
  %>
  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 rows-cols-sm-1 g-4">
    <% last_out = 0 %>
    <% @game['liveData']['plays']['allPlays'][start_index..end_index].each_with_index do |play, ind| %>
      <% if first_bottom == start_index + ind %>
        </div>
        <hr>
        <h4>Bottom</h4>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 rows-cols-sm-1 g-4">
        <% last_out = 0 %>
      <% end %>
      <div class="col" id="play-<%= ind + start_index %>">
        <div class="card h-100 <%= "border-primary" if play['about']['isScoringPlay'] %> <%= "border-danger" if play['count']['outs'] - last_out > 0 and not play['about']['isScoringPlay'] %>">
          <!--      <img src="..." class="card-img-top" alt="...">-->
          <div class="card-body">
            <h5 class="card-title"><%= play['result']['description'] || "#{play['matchup']['batter']['fullName']} is at bat." %></h5>

            <p class="card-text">
              Event: <%= play['result']['event'] || "Pending..." %><br>
              Score: <%= play['result']['awayScore'] %> - <%= play['result']['homeScore'] %><br>
              Outs: <%= play['count']['outs'] %> <% if play['count']['outs'] - last_out > 0 %> (+<%= play['count']['outs'] - last_out %>)<% end %>
              <% last_out = play['count']['outs'] %><br>
              <% if play['about']['endTime'] %>
                Duration: <%= to_hms(Time.parse(play['about']['endTime']) - Time.parse(play['about']['startTime'])) %><br>
              <% end %>
              <% index = play['atBatIndex'] %>
              <% index -= 1 if @win[index].nil? %>
              <% win_prob_change = (@win[index]['homeTeamWinProbabilityAdded'] * (play['about']['isTopInning'] ? -1 : 1)).round(2) %>
              Win Probability: <%= @win[index]["#{play['about']['isTopInning'] ? "away" : "home"}TeamWinProbability"].round(2) %>% (<% if win_prob_change.zero? %>&pm;<% elsif win_prob_change.positive? %>+<% end %><%= win_prob_change %>%)
            </p>

            <span class="card-text">Play Events:</span>
            <ol>
              <% play['playEvents'].each_with_index do |event, pe_index| %>
                <% next unless event['isPitch'] or event['type'] == 'pickoff' %>
                <li <% if event['type'] == 'pickoff' %> class="not-play" <% else %> value="<%= event['pitchNumber'] %>" <% end %>>
                  <a class="<%= play_class event %>" data-bs-toggle="collapse" href="#<%= "play-#{ind + start_index}-pitch-#{pe_index}" %>" role="button" aria-expanded="false" aria-controls="<%= "play-#{ind + start_index}-pitch-#{pe_index}" %>">
                    <%= event['details']['description'] %>
                    <% if bad_call?(event) %>
                      <span class="<%= event['details']['isStrike'] ? "ball" : "strike" %>" data-bs-toggle="tooltip"
                            title="Ball was <%= in_the_zone?(event['pitchData'])[0] ? "in" : "out of" %> the zone">
                        <i class="fa-solid fa-circle-exclamation"></i>
                      </span>
                    <% end %>
                  </a>
                </li>
                <div class="collapse no-list-type" id="<%= "play-#{ind + start_index}-pitch-#{pe_index}" %>">
                  <div class="card card-body">
                    <% if event['type'] == 'pickoff' %>
                      Pick-off attempts do not have pitch data :(
                    <% elsif event['details']['description'] == "Automatic Ball" %>
                      Automatic Balls are not pitches, so there is no pitch data.
                    <% else %>
                      Count: <%= event['count']['balls'] %> - <%= event['count']['strikes'] %>
                      <hr>
                      <% if event['details']['type'] %>
                        Type: <%= event['details']['type']['description'] %>
                        <br>
                      <% end %>
                      Speed: <%= event['pitchData']['startSpeed'] %>mph -> <%= event['pitchData']['endSpeed'] %>mph.
                      <br>
                      Break Angle: <%= event['pitchData']['breaks']['breakAngle'] %>&deg;.
                      <br>
                      <% if event['pitchData']['breaks']['breakLength'] %>
                        Break Length: <%= event['pitchData']['breaks']['breakLength'] %>ft.
                        <br>
                      <% end %>
                      <% if event['pitchData']['breaks']['spinRate'] %>
                        Spin Rate: <%= event['pitchData']['breaks']['spinRate'] %>rpm.
                        <br>
                      <% end %>
                      <% if event['pitchData']['breaks']['spinDirection'] %>
                        Spin Direction: <%= event['pitchData']['breaks']['spinDirection'] %>&deg;.
                      <% end %>

                      <% if event['hitData'] %>
                        <hr>
                        Ball left the bat at a speed of <%= event['hitData']['launchSpeed'] %> mph
                        at a <%= event['hitData']['launchAngle'] %>&deg; angle, and travelled <%= event['hitData']['totalDistance'] %> feet.
                      <% end %>

                      <% unless event['pitchData']['coordinates'].empty? %>
                        <hr>
                        Plate Position: (<%= event['pitchData']['coordinates']['pX'] %>, <%= event['pitchData']['coordinates']['pZ'] %>)
                        <br>
                        <div class="d-inline">
                          In the zone?
                          <% if in_the_zone?(event['pitchData'])[0] == true and event['details']['call']['description'].start_with? "Ball" %>
                            <span class="strike"><i class="fas fa-xmark"></i> Yes</span>
                          <% elsif in_the_zone?(event['pitchData'])[0] == false and event['details']['call']['description'].start_with? "Ball" %>
                            <span class="ball"><i class="fas fa-check"></i> No</span>
                          <% elsif in_the_zone?(event['pitchData'])[0] == true and event['details']['call']['description'] == "Called Strike" %>
                            <span class="ball"><i class="fas fa-check"></i> Yes</span>
                          <% elsif in_the_zone?(event['pitchData'])[0] != true and event['details']['call']['description'] == "Called Strike" %>
                            <span class="strike"><i class="fas fa-xmark"></i> No, <%= in_the_zone?(event['pitchData'])[1] %></span>
                          <% else %>
                            <%= in_the_zone?(event['pitchData'])[0] == true ? "Yes" : "No" %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </ol>
            <span class="card-text">Position Changes:</span>
            <ul>
              <% reaches = 0 %>
              <% play['runners'].sort_by {|e| e['movement']['start'] || "0B"}.each_with_index do |runner, run_index| %>
                <% next if runner['movement']['start'] == runner['movement']['end'] %>
                <% reaches += 1 %>

                <li>
                  <a class="<%= movement_class runner %>" data-bs-toggle="collapse" href="#<%= "play-#{ind + start_index}-runner-#{run_index}" %>" role="button" aria-expanded="false" aria-controls="<%= "play-#{ind + start_index}-runner-#{run_index}" %>">
                    <%= runner['details']['runner']['fullName'] %> (<%= runner['movement']['start'] || "none" %> -> <%= runner['movement']['end'] || "out" %>)
                  </a>
                </li>
                <div class="collapse no-list-type" id="<%= "play-#{ind + start_index}-runner-#{run_index}" %>">
                  <div class="card card-body">
                    Details: <%= runner['details']['event'] %>
                    <br>
                    <% if runner['movement']['isOut'] %>
                      Out Number: <%= runner['movement']['outNumber'] %>
                      <br>
                    <% end %>
                    <% if runner['details']['isScoringEvent'] %>
                      Run Type: <%= runner['details']['earned'] ? "Earned" : "Unearned" %>
                      <br>
                    <% end %>
                    <% unless runner['credits'].empty? %>
                      Credits:
                      <ul>
                        <% runner['credits'].each do |credit| %>
                        <li><%= @players[credit['player']['id']]['name'] %> - <%= credit['position']['name'] %></li>
                        <% end %>
                      </ul>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if reaches.zero? %>
                <li>No position changes</li>
              <% end %>
            </ul>
          </div>
          <div class="card-footer">
            <small class="text-muted">P: <%= play['matchup']['pitcher']['fullName'] %></small>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <hr>
<% end %>

<h2 id="pitch-breakdown">Pitch Breakdown</h2>

<h3>Batting Results</h3>

<p>The end result of a given batting cycle, based on the pitcher.</p>

<div class="table-responsive">
<table class="table">
  <thead>
  <tr>
    <th>Pitch Type</th>
    <% @pitchers.each do |pitcher| %>
      <th><%= pitcher.split(' ').last %></th>
    <% end %>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @results.each do |kind, amount| %>
    <tr>
      <td><%= kind %></td>
      <% @pitchers.each do |pitcher| %>
        <td><%= @results_by_pitcher[pitcher][kind] || 0 %></td>
      <% end %>
      <td><%= amount %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<h3>Types of Pitches</h3>

<p><i>Note: In the rare occurrence a pitcher is switched out mid-at-bat, the prior pitcher's throws will be counted
  towards the relief-pitcher.</i></p>

<div class="table-responsive">
<table class="table">
  <thead>
  <tr>
    <th>Pitch Type</th>
    <% @pitchers.each do |pitcher| %>
      <th><%= pitcher.split(' ').last %></th>
    <% end %>
    <th>Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @pitches.sort.each do |kind, amount| %>
    <tr>
      <td><%= kind %></td>
      <% @pitchers.each do |pitcher| %>
        <td><%= @pitches_by_pitcher[pitcher][kind] || 0 %></td>
      <% end %>
      <td><%= amount %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <td>Total (Excl. Pick-off Attempts)</td>
    <% @pitchers.each do |pitcher| %>
      <td><%= @pitches_by_pitcher[pitcher].sum {|e, i| (e.include?("Pickoff") || e.include?("Automatic")) ? 0 : i} %></td>
    <% end %>
    <td><%= @pitches.sum {|e, i| e.include?("Pickoff") || e.include?("Automatic") ? 0 : i} %></td>
  </tr>
  </tfoot>
</table>
</div>

<h2 id="umpire-blunders">Umpire Blunders <span class="badge bg-secondary">Beta</span></h2>

<p>A breakdown of all balls and called strikes to determine if they were accurate or not.</p>

<p><i>
  Note: As I have to draw the strike-zone myself, these may be inaccurate. If it is, let me know!<br>
  Another note: You may see more blunders here than you would on other sites. On here, I am counting every single
  blunder, but most sites/tools have a 1-inch margin of error.
</i></p>

<p>This game's <abbr title="Home Plate">HP</abbr> Umpire: <%= @umpire %>. <%= link_to "View Scorecard", "https://www.umpscorecards.com/single_umpire/?name=#{@umpire}", target: "_blank" %>.</p>

<h3>Balls</h3>

<p>Of the <%= @total_balls %> balls, <%= @blunder_balls.count %> were actually in the zone:</p>
<ol>
  <% @blunder_balls.each do |desc, ind| %>
    <li><%= link_to desc, "#play-#{ind}" %></li>
  <% end %>
</ol>

<h3>Strikes</h3>

<p>Of the <%= @total_strikes %> called strikes, <%= @blunder_strikes.count %> were actually out of the zone:</p>
<ol>
  <% @blunder_strikes.each do |desc, ind| %>
    <li><%= link_to desc, "#play-#{ind}" %></li>
  <% end %>
</ol>

<% content_for :extra_foot do %>
  <%= javascript_pack_tag "sports/game_charts" %>
<% end %>

<hr>

<h2 id="player-breakdown">Player Breakdown</h2>

<% %w[away home].each do |team| %>
    <hr>

  <h3 id="pb-<%= @game['gameData']['teams'][team]['clubName'].parameterize %>"><%= @game['gameData']['teams'][team]['clubName'] %></h3>

  <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 rows-cols-sm-1 g-4">
    <% @batters.each do |batter| %>
      <% id = "ID#{@players.find {|_, f| f['name'] == batter }[0]}" %>
      <% player = @game['gameData']['players'][id] %>
      <% next unless @game['liveData']['boxscore']['teams'][team]['players'].include?(id) %>
      <% stats = @game['liveData']['boxscore']['teams'][team]['players'][id] %>
      <div class="col">
        <div class="card h-100" id="<%= player['nameSlug'] %>">
          <div class="card-body">
            <h5 class="card-title"><%= batter %></h5>
            <p>Position(s): <%= (stats['allPositions'] || [stats['position']]).map {|e| e['name']}.join(', ') %></p>

            <span class="card-text">Results:</span>
            <ul>
              <% @plays_by_batter[batter].each do |play| %>
                <% result = play['result']['event'] || "Pending" %>
                <% result = "Grand Slam" if result == "Home Run" and play['result']['description'].include?("grand slam") %>
                <li>
                  <a class="<%= batting_class result %> <%= "bold" if play['about']['isScoringPlay'] %>" data-bs-toggle="collapse" href="#<%= "batter-#{player['nameSlug']}-play-#{play['about']['atBatIndex']}" %>" role="button" aria-expanded="false" aria-controls="<%= "batter-#{player['nameSlug']}-play-#{play['about']['atBatIndex']}" %>">
                    <%= play['about']['halfInning'].capitalize %> <%= play['about']['inning'].ordinalize %> - <%= result %>
                  </a>
                </li>
                <div class="collapse no-list-type" id="<%= "batter-#{player['nameSlug']}-play-#{play['about']['atBatIndex']}" %>">
                  <div class="card card-body">
                    <%= link_to "#{play['result']['description']}", "#play-#{play['about']['atBatIndex']}" %>
                  </div>
                </div>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<% end %>

<% end %>