<% content_for :meta_tags do %>
  <%= meta_tags title: "Minecraft JARs",
                description: "Download the latest server JARs for your favorite types!",
                service: "Chew's Minecraft Tools",
                color: '#00AA00',
                keywords: "jar, jar aggregator, minecraft jar, jar downloader, download paper, download geyser, geyser jar, paper jar, bungeecord, download bungeecord, bungeecord jar" %>
<% end %>

<% content_for :extra_foot do %>
  <%= javascript_pack_tag "mc-jars" %>
<% end %>

<h1>JAR Downloader</h1>

<p>Download latest server JARs for your favorite types!</p>

<p>As seen on <%= link_to '"The Ultimate Guide to Running a Minecraft Server"',
                          "https://madelinemiller.dev/blog/ultimate-guide-running-minecraft-server/" %> by Me4502.</p>

<p>
  <i><b>For Legal Reasons, you CANNOT download Spigot or CraftBukkit from ANY site. You MUST compile it yourself or you are breaking the law.</b></i><br>
  No worries, though! We recommend Paper, which is 100% legal to download, and you can below!
  Paper performs much better than Spigot and works with 99% of Spigot plugins, and some run even better!
</p>

<p>
  On December 9th, 2021, it was revealed that a RCE vulnerability was found in the logging library used by Paper, Waterfall, and Velocity.
  While these are fixed for Waterfall, Velocity, and major versions of Paper (1.8.8, 1.9.4, 1.10.2, 1.11.2, 1.12.2,
  1.13.2, 1.14.4, 1.15.2, 1.16.5, 1.17.1) and 1.18 and above, the vulnerability is still present in earlier patch versions.
  While you can download them here, you should be aware that they are potentially vulnerable to RCE.
</p>

<div id="table-of-contents">
  <h3>Table of Contents</h3>
  <ul>
    <li><%= link_to "Paper", "#paper" %></li>
    <li><%= link_to "Proxies", "#proxies" %></li>
    <li><%= link_to "Geyser", "#geyserHeader" %></li>
    <li><%= link_to "Floodgate", "#floodgateHeader" %></li>
  </ul>
</div>

<div class="row">
  <div class="col-sm-3">
    <h2 id="paper">Paper</h2>
    <p>
      All versions that have builds are listed here.
      Usually, only the top row is supported.
      The rest are for legacy purposes.
    </p>
    <table id="paperVersions" class="table table-striped table-bordered table-hover" data-toggle="table" data-pagination="true" data-page-size="5" data-page-list="[5]">
      <thead class="table-dark">
      <tr>
        <th>Version</th>
      </tr>
      </thead>
      <tbody>
      <% @paper['versions'].reverse.each do |version| %>
      <tr>
        <td>
          <%= link_to version, "/mc/jars/paper/#{version}" %> -
          <%= link_to "[Get Build #]", "/mc/jars/build/paper/#{version}", id: "paper-#{version.gsub('.', '_')}" %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h2 id="proxies">Proxies</h2>
    <p>
      All are for the latest version.<br>
      All support 1.8.x to latest.<br>
      Travertine & Velocity are 1.7.x to latest.<br>
      None support non-latest versions.
    </p>
    <table class="table table-striped table-bordered table-hover" data-toggle="table">
      <thead class="table-dark">
      <tr>
        <th>Proxy Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= link_to "BungeeCord", "https://ci.md-5.net/job/BungeeCord/lastSuccessfulBuild/artifact/bootstrap/target/BungeeCord.jar" %> -
          <%= link_to "[Get Build #]", "/mc/jars/build/bungeecord", id: 'bungeecord' %>
        </td>
      </tr>
      <% %w[waterfall velocity].each do |type| %>
      <tr>
        <td>
          <%= link_to type.capitalize, "/mc/jars/#{type}" %> -
          <%= link_to "[Get Build #]", "/mc/jars/build/#{type}", id: type %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h2 id="geyserHeader">Geyser</h2>
    <p>
      Geyser is a bridge/proxy allowing you to connect to Java servers with Bedrock.
      Read more <%= link_to "here", "https://geysermc.org" %>.
      All are for latest version(s)
    </p>
    <table class="table table-striped table-bordered table-hover" data-toggle="table">
      <thead class="table-dark">
      <tr>
        <th>Version - <%= link_to "[Get Build #]", "/mc/jars/build/geyser", id: 'geyser' %></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= link_to "Standalone", "https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/standalone/target/Geyser.jar" %></td>
      </tr>
      <% %w[Spigot BungeeCord Velocity Sponge Fabric].each do |type| %>
      <tr>
        <td><%= link_to t(type.downcase), "https://ci.opencollab.dev/job/GeyserMC/job/Geyser/job/master/lastSuccessfulBuild/artifact/bootstrap/#{type.downcase}/target/Geyser-#{type}.jar" %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-3">
    <h2 id="floodgateHeader">Floodgate</h2>
    <p>
      Hybrid mode plugin to allow for connections from Geyser to join online mode servers.
      Read more <%= link_to "here", "https://github.com/GeyserMC/floodgate" %>.
      All are for latest version(s)
    </p>
    <table class="table table-striped table-bordered table-hover" data-toggle="table">
      <thead class="table-dark">
      <tr>
        <th>Version - <%= link_to "[Get Build #]", "/mc/jars/build/floodgate", id: 'floodgate' %></th>
      </tr>
      </thead>
      <tbody>
      <% %w[spigot bungee velocity].each do |type| %>
      <tr>
        <td><%= link_to t(type), "https://ci.opencollab.dev/job/GeyserMC/job/Floodgate/job/master/lastSuccessfulBuild/artifact/#{type}/target/floodgate-#{type}.jar" %></td>
      </tr>
      <% end %>
      <tr>
        <td><%= link_to "Fabric", "https://ci.opencollab.dev/job/GeyserMC/job/Floodgate-Fabric/job/master/lastSuccessfulBuild/artifact/build/libs/floodgate-fabric.jar" %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>