/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 * require_self
 *= require "bootstrap/dist/css/bootstrap"
 *= require "bootstrap-table/dist/bootstrap-table.min"
 *= require "darkreader"
 *= require "fonts"
 */

@media (min-width: 576px) {
    h1 {
        margin-top: -50px;
    }
    div#saved {
        margin-top: 0;
        margin-bottom: 5px;
    }
}
@media (max-width: 576px) {
    h1 {
        margin-top: -20px;
    }
    div#saved {
        margin-top: 20px;
        margin-bottom: -20px;
    }
    button#savebutton {
        margin-top: 20px;
    }
}

.up-a-bit {
    margin-top: 20px;
}

.width-100 {
    width: 100%;
}

.toast-container {
    z-index: 1000000;
}

.sponsor {
    color: #db61a2;
}