// Place all the styles related to the utilities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
	background-color: cornflowerblue;
}

.wordle-letter {
	// Square input box, perfect for the size of a single letter
	width: 2em;
	height: 2em;
	font-size: 1.6em;
	font-weight: bold;
	font-family: monospace;
	color: white;
	background-color: black;
	border-radius: 0.1em;
	border-width: 0.05em;
	border-style: solid;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.w-20 {
	width: 19%!important;
}

.wordle-guess {
	font-family: 'JetBrains Mono', 'Menlo', monospace;
}