<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <% if @layout %>
   <%= render "layouts/extra/#{@controller_name}" %>
  <% end %>

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/4ae5eef027.js" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag "bootstrap4compat" %>
  <%= stylesheet_link_tag @controller_name.to_s %>
  <%= stylesheet_link_tag "application" %>

  <% if content_for :meta_tags %>
    <%= yield :meta_tags %>
  <% else %>
    <title>Chew's Website</title>
  <% end %>
</head>
<body class="<%= yield :body_class %>">

<%= render 'layouts/flash' %>

<header></header>

<% if @nav %>
  <%= render "layouts/navs/#{@controller_name}" %>
<% end %>

<div class="container up-a-bit">
  <div class="jumbotron">
    <%= yield %>
  </div>

  <% if request.url.include? "/mlb" %>
    <footer>
      Data found on this page is Copyright 2022 MLB Advanced Media, L.P.
      The use of the content on this page acknowledges agreement to the terms posted <%= link_to "here", "https://gdx.mlb.com/components/copyright.txt" %>.
    </footer>
  <% end %>
</div>

<%= javascript_pack_tag 'application' %>
<%= yield :extra_foot %>
</body>
</html>
